
/*#eaeaea  #dedede  #a9a9a9    nijanse sive=> 
crvena #FF00A9  zelena #00FFD6  bijela  #defbff*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #eaeaea;

}


nav{
  position:fixed;
  width:100%;
  padding:20px 0;
  z-index: 999;
  transition: all 0.3s ease;
}
nav.sticky{
  background: #a9a9a9;
  padding:13px 0;
}
nav .navbar{
  width:90%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 28px;
  color: black;
  text-shadow: 2px 0 #a9a9a9;
  background: #00FFD6;
  opacity: 0,5;
  border-radius: 3px;
  border:1px solid black;
}
nav .navbar .logo a:hover{
background: #defbff;	
}
.logo span{
	font-family: 'Sacramento', cursive;
	color: #defbff;
	font-weight: 900;
	font-size: 45px;
	text-shadow: 2px 0 black;
}

nav.sticky .navbar .logo a{
  color: black;
  text-shadow: 2px 0 #fff;
}

nav .navbar .menu{
  display:flex;
  position:relative;
}
nav .navbar .menu li{
  list-style: none;
  margin:0 8px;
}
nav .navbar .menu a{
  font-size: 19px;
  font-weight: 600;
  font-height: 16px;
  color: #fff;
  padding: 0;
  margim: 4px;
  transition: all 0.4s ease;
  text-shadow: 1px 0 black;
  
}
.navbar .menu a:hover{
  color: #FF00A9;
}
nav.sticky .menu a{
  color: #fff;
}
nav.sticky .menu a:hover{
  color: #FF00A9;
}



nav .menu-btn,
.navbar .menu .cancel-btn{
  position:absolute;
  color: #a9a9a9;
  right:30px;
  top:20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #a9a9a9;
}
nav.sticky .menu-btn{
  color: #defbff;
}
.navbar .menu .menu-btn{
  color: #defbff;
}


.home{
  height:100vh;
  width:100%;
  background: url("kupaC.jpg") no-repeat;
  
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: inherit;
/*dodano naknadno radi ostalih preglednika*/  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}
.home .home-content{
  width:90%;
  height:100%;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size:25px;
  color: #fff;
  text-shadow: 3px 0 black;
}

.home .text-title{
  font-size: 40px;
  margin:5px 0;
  color: #fff;
  text-shadow: 3px 0 black;
}
.home .text-title-span{
  font-size: 45px;
  margin:5px 0;
  color: #fff;
  font-weight: 500;
  text-shadow: 3px 0 black;
}
.home .button{
  margin:14px 0;
}
.home .button button{
  outline:none;
  padding:8px 16px;
  border-radius: 3px;
  font-size: 25px;
  font-weight: 400;
  background: #a9a9a9;
  color: #fff;
  text-shadow: 1px 0 black;
  cursor:pointer;
  border:1px solid black;
  transition: all 0.4s ease;
}
.home .button button:hover{
  border-color: black;
  background-color: #defbff;
  color: black;
}
/*dodatak home-u*/

.homeadd {
  text-align: center;
  height:100%;
  width: 80%;
  background: url("lokvanjiTM.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: inherit;
  padding= auto;
  margin: auto;
  border-radius: 3px;
  /*dodano naknadno radi ostalih preglednika*/  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.homeadd-title{
  color: #00FFD6;
  font-size: 26px;
  text-shadow: 3px 0 black;
  font-weight: 500;
  position:relative;
  padding-bottom:8px;
  font-family: 'Roboto', sans-serif;
}

.homeadd-text{
  padding: 1px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 0 black;
  line-height: 30px;
  }
section{
  padding-top:40px;
}
section .content{
  width:80%;
  margin:40px auto;
  font-family: 'Poppins', sans-serif;

}
section .title{
  display:flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #00FFD6;
  font-size: 35px;
  font-weight: 500;
  position:relative;
  padding-bottom:8px;
  text-shadow: 2px 0 black;
}
section .title span {text-decoration: underline;}
.about .about-details{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.about .about-details .left{
  width:45%;
}

.about .left img{
  height:400px;
  width:400px;
  object-fit: cover;
  border-radius: 3px;
}
.about .left .img2{
  margin-left: 55px;
}
.about .about-details .right{
  width:55%;
}

.about-details .right p{
  text-align: justify;
  color: black;

}

section .topic{
  color: #020126;
  font-size:25px;
  font-weight: 500;
  margin-bottom: 10px;
}

section .button{
  margin:16px 0;
}
section .button button{
	
  outline:none;
  padding:8px 16px;
  border-radius: 3px;
  font-size: 25px;
  font-weight: 400;
  background: #00FFD6;
  color: #fff;
  text-shadow: 1px 0 black;
  border:1px solid black;
  cursor: pointer;
  transition: all 0.4s ease;
}
/*#a9a9a9*/
section .button button:hover{
  border-color: black;
  background-color: #defbff;
  color: black;
}

.services .boxes{
   display:flex;
   flex-wrap: wrap;
   justify-content:space-between;
}
.services .boxes .box a{
  color: #00FFD6;
  font-size: 20px;
  text-decoration: underline;
  text-shadow: 1px 0 black;
}
.services .boxes .box a:hover{
  color: #FF00A9;
  text-shadow: 1px 0 black;
}
.services .boxes .box{
  margin:20px 0;
  width:calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 3px;
  padding:30px 10px;
  box-shadow: 0 2px 3px #949da8;
  cursor:default;
  transition: all 0.3s ease;
}
.services .boxes .box:hover{
  background: #a9a9a9;
  color: #eaeaea;
}
.services .boxes .box .icon{
  height:50px;
  width:50px;
  background: black;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #eaeaea;
  margin:0 auto 10px auto;
  transition: all 0.4s ease;
}
.boxes .box:hover .icon{
  background: #eaeaea;
  color: #a9a9a9;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: black;
  transition: all 0.4s ease;
}

.contact{
  background: #eaeaea;
}
.contact .content{
  margin:0 auto;
  padding:30px 0;
}
.contact .text{
  width:80%;
  text-align: center;
  margin:auto;
}
.media-icons a{
  color: black;
  font-size: 22px;
  margin:0 6px;
}
.media-icons{
background: #a9a9a9;
text-align: center;
padding-bottom: 40px;
}

footer .text{

  background: #a9a9a9;
  padding:15px 0;
  text-align: center;

}
footer p{
  padding: 1px;
  font-size: 18px;
  color: black;
  text-align: center;
  display:inline;
  font-family: 'Poppins', sans-serif;}

  @media (max-width:1000px){
    .about .about-details{
      justify-content: center;
      flex-direction: column;
    }
    .about .about-details .left{
      display: flex;
      justify-content:center;
      width:100%;
    }
    .about .about-details .right{
      width:90%;
      margin:40px 0;
    }
    .services .boxes .box{
      margin:20px 0;
      width:calc(100% / 2 - 20px);
    }
  }
  @media (max-width:900px){
    .about .left img{
      height:350px;
      width:350px;
    }
  }
  @media (max-width:750px){
     nav .navbar{
       width:90%;
     }
     nav .navbar .menu{
       position:fixed;
       left:-100%;
       top:0;
       background: #a9a9a9;
       height:100vh;
       max-width: 400px;
       width:100%;
       padding-top:60px;
       flex-direction: column;
       align-items:center;
       transition: all 0.5s ease;
     }
     .navbar.active .menu{
       left:0;
     }
     nav .navbar .menu a{
       font-size:23px;
       display:block;
       color: #fff;
       margin:10px 0;
	   text-shadow: 1px 0 black;
     }
     nav.sticky .menu a:hover{
       color: #00FFD6;
	   
     }
     nav .navbar .media-icons{
       display:none;
     }
     nav .menu-btn,
     .navbar .menu .cancel-btn{
       display:block;
	   color: #fff;
     }

     .home .text-two{
       font-size: 65px;
     }
     .home .text-three{
      font-size: 35px;
    }

    .skills .skills-details{
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .skills-details .text{
      width:100%;
      margin-bottom:50px;
    }
    .skills-details .boxes{
      justify-content:center;
      align-items: center;
      width:100%;
    }

    .services .boxes .box{
      margin:20px 0;
      width:100%;
    }

    .contact .text{
      width:100%;
    }
  /*dodano img2*/
  .about .left .img2{
    margin-left: 0;
  }
  }

  @media (max-width:500px){
    .home .text-two{
      font-size: 55px;
    }
    .home .text-three{
      font-size: 33px;
    }

    .skills-details .boxes .per{
      font-size: 50px;
      color: #020126;
    }
  }
